# .gitignore (copied from WRF .gitignore)                                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################

## Ignore github-related files
.github

# Ignore figures
*.svg
*.png
*.pdf
Figures/*

#Ignore data files
RUNS/*
hal.*
wrfout*

#Ignore tar files
tarfiles/*
*.tar.gz

#WRF-specific wildcards
*.exe
*.o
*.mod
*.a
*.backup
*.f90
gitignore.txt
met_em*
wrf_input*
wrf_bdy*
compile_log.txt
io_boilerplate_temporary.inc
compile_wrf.log
configure.wrf
io_grib1.f90
io_grib_share.f90
io_int_idx_tags.h
test_io_idx
md_calls.inc
module_dm.F
module_state_description.F
dm_comm_cpp_flags
wrf_io_flags.h
wrf_status_codes.h
fseeko64_test
namelist.input
namelist.output
fseeko_test
gen_comms.c
registry
namelist.input.backup*
p3_lookup_table_1.dat
README.namelist
diffwrf
Registry
io_grib1.f90
io_grib_share.f90
wrfinput_d*
wrfbdy*
wrfout.log
realout.log
rsl.error.*
rsl.out.*
qr_acr_qg.dat
qr_acr_qs.dat
freezeH2O.dat
p3_lookup_table_1.dat-v2.8.2
p3_lookup_table_2.dat-v2.8.2

#Ignore WPS/
WPS-4.0.1/*
